body {
    background-color: #d1d1d1;
    padding: 50px 0;
}

#cat-panel, #cat-list {
    max-height: 350px
}

#cat-list {
    overflow: auto;
}

.panel-title {
    font-weight: 700;
}

.cat-picture {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 300px;
    max-height: 220px;
}