body {
    background-color: #424242;
    padding: 50px 0;
}

#cat-panel, #cat-list {
    height: 350px
}

#cat-list {
    overflow: auto;
}

.cat-picture {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 300px;
    max-height: 300px;
}